@keyframes bgc
  0%
     background-color: #4caf61
  33%
    background-color: #4caeaf
  67%
    background-color: #994caf
  100%
    background-color: #af4c4c


body
  position: relative
  background-color: #4caf61
  font-family: 'Proxima Nova', 'Helvectica Neue', 'Helvetica', sans-serif;
  animation: bgc 12s infinite alternate

#ticker
  background-color: #fff
  size: 100% 80px
  padding: 1em 0
  color: #333
  font-size: 24px
  font-weight: bold
  letter-spacing: 8px
  text-align: center
  text-transform: uppercase
  word-spacing: .25em

  strong
    margin: 0 2em

#game
  position: absolute
  top: 80px; left: 0; right: 0; bottom: 0
  width: 100%
  margin: 0 auto
  overflow: hidden

  .numpad
    size: 100%
    margin: 0 auto 0 auto
    padding: 0
    list-style: none

    li
      border-right: 1px solid rgba(255,255,255,.5)
      border-bottom: 1px solid rgba(255,255,255,.5)
      display: block
      float: left
      width: 33.333333333333%
      height: 33.333333333333%
      margin: 0
      color: rgba(0,0,0,.3)
      font-size: 120
      font-family: 'Futura Std', inherit
      font-weight: 200
      text-align: center
      text-shadow: 0 1px 0 rgba(255,255,255,.1)

      &:nth-child(3n)
        border-right: none

