@import "nib"
@import "utils/reset"
@import "utils/mixins"

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
html
  font-size: 62.5%
  height: 100%

html, body { size: 100% }

body
  font-size: 16

body, legend, input, textarea, button
  font-family: 'Helvetica Neue'
  line-height: 1.4
  color: #333

a:link, a:visited { color: deeppink }
a:focus, a:link:hover  { color: hotpink }

p, ul, ol, dl, blockquote, table, figure { margin: 0 }

// Player --------------------------------------------------------------------
.player,.enemy
  display: block
  position: absolute
  top: 0; left: 0
  opacity:0.75

.player
  size: 50px 40px

  .arrow
    border-top: 20px solid transparent
    border-bottom: 20px solid transparent
    border-left: 50px solid white
    z-index:999
    position:absolute
span
  size:1px
  display:block
  background-color:black
  position:absolute
  z-index:9999
.point_1
  top:0
  left:0
.point_2
  top:50%
  left:0
.point_3
  top:100%
  left:0
.point_4
  top:25%
  left:25%
.point_5
  top:50%
  left:25%
.point_6
  top:75%
  left:25%
.point_7
  top:25%
  left:50%
.point_8
  top:50%
  left:50%
.point_9
  top:75%
  left:50%
.point_10
  top:50%
  left:75%
.point_11
  top:50%
  left:100%


.enemy
  size: 50px
  line-height:50px
  text-align:center
  border-radius:25px
  background-color:white

@import "layout"
