@import "nib"
@import "utils/reset"
@import "utils/mixins"

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
html
  font-size: 62.5%
  height: 100%

html, body { size: 100% }

body
  font-size: 16

body, legend, input, textarea, button
  font-family: 'Helvetica Neue'
  line-height: 1.4
  color: #333

a:link, a:visited { color: deeppink }
a:focus, a:link:hover  { color: hotpink }

p, ul, ol, dl, blockquote, table, figure { margin: 0 }

// Game ----------------------------------------------------------------------
#game
  size: 100%

// Player --------------------------------------------------------------------
.player
  position: absolute
  top: 0; left: 0
  display: block
  size: 25px
  background-color: hotpink
  border-radius: 100%
  // border-left: 15px solid transparent
  // border-right: 15px solid transparent
  // border-bottom: 30px solid black
  transform: rotate(360deg)
  transform-origin: center center

  &:after
    content: ''
    display: block
    size: 4px
    border-radius: 100%
    position: absolute
    top: 0; left: 50%
    margin-left: -2px
    background-color: #333
