@import "nib"
@import "utils/reset"
@import "utils/mixins"

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
html
  font-size: 62.5%
  height: 100%

html, body { size: 100%; overflow: hidden }

body
  background-color: #4caf61
  position: relative
  font-family: 'proxima-nova', 'Helvectica Neue', 'Helvetica', sans-serif;
  font-size: 16
  animation: bgc 12s infinite alternate
  user-select: none

body, legend, input, textarea, button
  line-height: 1.4
  color: #333

a:link, a:visited
  color: #4caf61
  font-weight: 800
  animation: color 12s infinite alternate
  span { color: #333 }
a:focus, a:link:hover { color: #333 }

p, ul, ol, dl, blockquote, table, figure { margin: 0 }

// Layout ----------------------------------------------------------------------
.content
  width: 100%; height: 100%
  overflow: hidden

#game
  position: absolute
  top: 80px; left: 0; right: 0; bottom: 0
  width: 100%
  margin: 0 auto

  &.title_screen
    top: 0
    transition: top .2s ease-out

    #status
      top: 230px; left: 0

  #status
    z-index:999
    background-color: #fff
    display: block
    position: absolute
    top: -333px; left: 0
    width: 100%
    padding: 2em 0
    letter-spacing: .7em
    line-height: 1
    text-align: center
    text-transform: uppercase
    opacity: 1
    transition: top .2s ease-out

    h1
      margin: .25em  0 0 0
      font-size: 30
      font-weight: 800

    .tel
      display: block
      margin: .5em 0
      font-size: 90
      font-family: 'futura-pt', 'Helvetica Neue', sans-serif
      font-weight: 200
      animation: color 12s infinite alternate

    #ticker
      font-size: 24
      letter-spacing: 6px
      cursor: pointer

      a:hover span { color: inherit }

      #phoneNumber
        display:none
        
  .numpad
    size: 100%
    margin: 0 auto 0 auto
    padding: 0
    list-style: none

    li
      position: relative
      border-right: 1px solid rgba(0,0,0,.2)
      border-bottom: 1px solid rgba(0,0,0,.2)
      display: block
      float: left
      width: 33.333333333333%
      height: 33.333333333333%
      margin: 0
      color: rgba(0,0,0,.3)
      font-size: 120
      font-family: 'futura-pt', inherit
      font-weight: 200
      text-align: center
      text-shadow: 0 1px 0 rgba(255,255,255,.1)

      span
        line-height: 0
        position: absolute
        top: 50%; left: 50%
        margin-left: -30px

      &:nth-child(3n)
        border-right: none

// Player --------------------------------------------------------------------
.player,.bomb
  display: block
  position: absolute
  top: 0; left: 0

.player
  size: 50px 40px

  .arrow
    border-top: 20px solid transparent
    border-bottom: 20px solid transparent
    border-left: 50px solid white
    z-index: 99
    position: absolute

  &.dead
    animation: flicker .1s infinite

  span
    size: 1px
    display: block
    position: absolute

  .point_1 { top:0; left:0 }
  .point_2 { top:50%; left:0 }
  .point_3 { top:100%; left:0 }
  .point_4 { top:25%; left:25% }
  .point_5 { top:50%; left:25% }
  .point_6 { top:75%; left:25% }
  .point_7 { top:25%; left:50% }
  .point_8 { top:50%; left:50% }
  .point_9 { top:75%; left:50% }
  .point_10 { top:50%; left:75% }
  .point_11 { top:50%; left:100% }

.bomb
  -webkit-backface-visibility: hidden

  span
    display: block
    size: 50px
    line-height:50px
    text-align:center
    border-radius:100%
    background-color:white

  &:after
    content: attr(data-from)
    display: block

  &.explode
    opacity: 0
    -webkit-transform: scale(2)
    animation: explode .4s

  &.defuse
    -webkit-transition: -webkit-transform .2s ease-in-out
    -webkit-transform: rotateY(180deg)


// Keyframes --------------------------------------------------------------------
@keyframes flicker
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes explode
  0%
    opacity: 1
    -webkit-transform: scale(1)

  25%
    -webkit-transform: scale(.5)

  100%
    opacity: 0
    -webkit-transform: scale(5)

@keyframes bgc
  0%
    background-color: #4caf61
  33%
    background-color: #4caeaf
  67%
    background-color: #994caf
  100%
    background-color: #af4c4c

@keyframes color
  0%
    color: #4caf61
  33%
    color: #4caeaf
  67%
    color: #994caf
  100%
    color: #af4c4c
