<section id="game">
<ol class="numpad">
  <li><span>1</span></li>
  <li><span>2</span></li>
  <li><span>3</span></li>
  <li><span>4</span></li>
  <li><span>5</span></li>
  <li><span>6</span></li>
  <li><span>7</span></li>
  <li><span>8</span></li>
  <li><span>9</span></li>
</ol>
<%- partial('status', { title: title , subtitle: subtitle}) %>
</section>
