<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blastercall - A Game of Calls</title>
    <script type="text/javascript" src="http://use.typekit.com/wtw5yha.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%- css('styles.css') %>
  </head>
  <body data-view="<%= view %>">
    <%- body %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <%- js('scripts.js') %>
  </body>
</html>
