<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ballzilla</title>
    <%- css('styles.css') %>
  </head>
  <body data-view="<%= view %>">
    <%- body %>
    <script>
    document.write('<script src=' +
    ('__proto__' in {} ? 'http://zeptojs.com/zepto.min.js' : 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') +
    '><\/script>')
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <%- js('scripts.js') %>
  </body>
</html>
