<div id="status">
  <h1 class="title"><%- title %></h1><h1 class="score"></h1><br>
  <strong class="tel">418·800·0489</strong><strong class="gameover">GAME OVER</strong><br>
  <p id="ticker">
    <span id="nb_players">0</span> players connected
    <a href="#" id="startgame"><span>—Start game</span></a>
    <span id="phoneNumber"> - call 418·800·0489</span> 
    <ol id="life">
    </ol>
  </p>
</div>