<div id="status">
  <h1><%- title %></h1><br>
  <strong class="tel">418·800·0489</strong><br>
  <p id="ticker">
    <span id="nb_players">0</span> players connected
    <a href="#" id="startgame"><span>—Start game</span></a>
    <span id="phoneNumber"> - call 418·800·0489</span> 
    <ol id="life">
      <li>▲</li>
      <li>▲</li>
      <li>▲</li>
    </ol>
  </p>
</div>